:root {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1 {
    font-weight: 500;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 28px;
}

h2, h3 {
    color: #1f405f;
    font-weight: 500;
}

.wrapper {
    max-width: 1440px;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.header .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 154px;
}

.content .container {
    flex-direction: column;
}

.footer .container {
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
}

.content {
    flex: 1 1 auto;
    padding-top: 160px;
    padding-bottom: 310px;
}

.btn {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 25px;
    padding: 14px 20px;
    transition: background-color 0.3s ease-out;
    margin: 0 7px;
    height: 48px;
    width: 135px;
}

.btn:hover {
    color: #ff6162;
    background-color: #fff;
}

.header__right-login {
    display: flex;
}

.header__right-login .btn {
    background: none;
    margin: 0;
}

.header__right-login .btn:hover {
    color: #fff;
    background-color: rgb(255, 255, 255, 0.2);
}

.header {
    background: linear-gradient(90deg, rgba(255, 142, 112, 1) 0%, rgba(255, 88, 91, 1) 100%);
    border-radius: 0 0 0 100px;
    color: #ffffff;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    white-space: nowrap;
}

.header__title {
    font-size: 60px;
    padding-bottom: 20px;
}

.header__logo {
    padding: 0;
}

.header__subtitle {
    font-size: 20px;
    font-weight: 300;
}

.header__top {
    justify-content: space-between;
    width: 100%;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 50px;
}

.header__nav a {
    padding: 14px 16px;
}

.header__bottom {
    display: flex;
}

.header__top {
    display: flex;
}

.header__middle {
    text-align: center;
    padding: 125px 0 50px 0;
}

.header__right, .header__left {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Dropdowns in header start*/
.header__nav-dropdown a:hover {
    text-decoration: underline 2px;
}

.fa-angle-down {
    transition: transform 0.2s ease;
    margin-left: 10px;
}

.header__nav-dropdown a:hover .fa-angle-down {
    transform: rotate(180deg);
}

.header__nav-dropdown .header__nav-dropdown-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    cursor: pointer;
}

.header__nav-dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 20px 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    transition: opacity 0.3s ease-out;
}

.header__nav-dropdown-content a {
    float: none;
    font-weight: 500;
    color: black;
    padding: 10px 16px;
    display: block;
    text-align: left;
}

.header__nav-dropdown-content a:hover {
    font-weight: bold;
    text-decoration: none;
}

.header__nav-dropdown:hover .header__nav-dropdown-content {
    visibility: visible;
    opacity: 1;
}

/*Dropdowns in header end*/

/*Main-section starts*/

.main-middle {
    background-color: #393a56;
}

.main-middle h2 {
    color: #ffffff;
}

/*Main-section ends*/

.footer {
    background-color: #24242c;
    border-radius: 0 50px 0 0;
}

.footer a {
    color: #b0b0b8;
    text-decoration: none;
    line-height: 2;
}

.footer a:hover {
    text-decoration: underline 2px;
}

.footer li {
    list-style: none;
}

.footer-subtitile {
    color: #fff;
    margin-bottom: 25px;
}